.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #e5e6eb;
}

.dark-mode {
  background-color: #121212;
  color:#e5e6eb;
}
